
@import '../../../../assets/styles/auth-form';


.login {
    padding: 120px 0;
    .container{
        display: flex;
        align-items: start;
        justify-content: space-between;

        .login-right {
            width: 607px;
            margin-top: -14px;
            border-radius: 5px;
        }
    }
}